{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Informações produtos</title>
  </head>
  <body>
    {% include 'partials/_nav.html' %}
    <main>
      <div class="card-wrapper">
        <div class="card">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase">
                {% if not produtos.foto %}
                  <img style="width: 520px; border-radius: 10px;" src="{% static 'assets/img/not-found.png' %}" alt="foto" />
                {% else %}
                  <img style="width: 520px; height: 520px; border-radius: 10px;" src="{{ produtos.foto.url }}" alt="{{ produto.nome }}" />
                {% endif %}
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class="product-content">
            <h2 class="product-title">{{ produtos.nome }}</h2>
            <a href="#" class="product-link">Visite Espaço Mulher</a>
            <div class="product-rating">
              <i class="fas fa-star"><i class="ri-star-fill"></i></i>
              <i class="fas fa-star"><i class="ri-star-fill"></i></i>
              <i class="fas fa-star"><i class="ri-star-fill"></i></i>
              <i class="fas fa-star"><i class="ri-star-fill"></i></i>
              <i class="fas fa-star-half-alt"><i class="ri-star-half-line"></i></i>
              <span>4.7(21)</span>
            </div>

            <div class="product-price">
              <p class="last-price">
                Preço antigo: <span>{{ produtos.preco }}</span>
              </p>
              <p class="new-price">
                Novo preço: <span>{{ produtos.preco }}</span>
              </p>
            </div>

            <div class="product-detail">
              <h2>Sobre esse produto:</h2>
              {% if produtos.descricao %}
                <p>{{ produtos.descricao }}</p>
              {% else %}
                <p>Esse produto não tem descrição</p>
              {% endif %}
              <ul>
                <li>
                  Marca: <span>Natura</span>
                </li>
                <li>
                  Estoque: <span>{{ produtos.estoque }}</span> unidades
                </li>
                {% comment %} <li>
                  Categoria: <span>Perfume</span>
                </li> {% endcomment %}
                <li>
                  Área de atuação: <span>Por toda Alexandria RN</span>
                </li>
                <li>
                  Envio: <span>Gratis</span>
                </li>
              </ul>
            </div>
            {% if user.is_staff %}
              <a class="purchase-info" href="{% url 'editar-produtos' produtos.id %}"><button type="button" class="btn">editar produto</button></a>
              <a class="purchase-info" href="{% url 'deletar-produtos' produtos.id %}"><button type="button" class="btn">deletar produto</button></a>
            {% else %}
              <a class="purchase-info" href="{% url 'nova-reservas-produto' produtos.id %}"><button type="button" class="btn">Fazer Reserva <i class="fas fa-shopping-cart"><i class="ri-shopping-cart-line"></i></i></button></a>
            {% endif %}
            <div class="social-links">
              <p>Saiba mais:</p>
              <a href="#"><i class="fab fa-facebook-f"><i class="ri-facebook-line"></i></i></a>
              <a href="#"><i class="fab fa-instagram"><i class="ri-instagram-line"></i></i></a>
              <a href="#"><i class="fab fa-whatsapp"><i class="ri-whatsapp-line"></i></i></a>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include 'partials/_footer.html' %}
  </body>
</html>
