{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>produtos</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
  </head>
  <body>
    {% include 'partials/_nav.html' %}

    <section class="section__container explore__container">
      <div class="explore__header">
        <h2 class="section__header">Conheça nossos produtos</h2>
        <div class="explore__nav"></div>
      </div>
      <div class="explore__grid">
        {% if produtos %}
          {% for produto in produtos %}
            <div class="explore__card">
              {% if not produto.foto %}
                <img style="width: 350px; border-radius: 10px;" src="{% static 'assets/img/not-found.png' %}" alt="foto" />
              {% else %}
                <img style="width: 350px; height: 350px; border-radius: 10px;" src="{{ produto.foto.url }}" alt="{{ produto.nome }}" />
              {% endif %}
              <h4 style="margin-top: 10px;">{{ produto.nome }}</h4>
              {% if produto.descricao %}
              <p>{{ produto.descricao }}</p>
              {% else %}
              <p>Esse produto não tem descrição</p>
              {% endif %}
              <P>{{ produto.preco }}</P>
              <a href="{% url 'info-produto' produto.id %}">Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>
    <footer class="section__container footer__container">
      <span class="bg__blur"></span>
      <span class="bg__blur footer__blur"></span>
      <div class="footer__col">
        <div class="footer__logo">
          <img src="{% static 'assets/img/logo.png' %}" alt="Logo" />
        </div>
        <p>No Espaço Mulher, cada corte, cada detalhe e cada transformação são feitos para realçar sua beleza e autoestima. Sinta-se confiante, radiante e poderosa todos os dias, porque você merece!</p>
        <div class="footer__socials">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-instagram-fill"></i></a>
          <a href="#"><i class="ri-whatsapp-fill"></i></a>
        </div>
      </div>
      <div class="footer__col">
        <h4>company</h4>
        <a href="#">Negócios</a>
        <a href="#">Franquia</a>
        <a href="#">Parcerias</a>
        <a href="#">Network</a>
      </div>
      <div class="footer__col">
        <h4>Sobre nos</h4>
        <a href="#">Blogs</a>
        <a href="#">segurança</a>
        <a href="#">carreers</a>
      </div>
      <div class="footer__col">
        <h4>Contato</h4>
        <a href="#">contate nos</a>
        <a href="#">Politica de privacidade</a>
        <a href="#">Termos & condiçôes</a>
      </div>
    </footer>
    <div class="footer__bar">Direitos autorais © 2025 Espaço Mulher. Todos os direitos reservados.</div>
  </body>
</html>
