{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Mulher</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
</head>
<body>
    {% include "partials/_nav.html" %}
    <header class="section__container header__container">
        <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h4>Escolha o melhor perfume para seu dia a dia</h4>
            <h1><span>Compre</span>Ja</h1>
            <p>
                O Espaço Mulher é um lugar completo dedicado ao cuidado e bem-estar feminino. Além de oferecer uma linha exclusiva de perfumes, shampoos, cremes e outros utensílios de beleza, a loja também conta com serviços de cabeleireiro para atender todas as necessidades de quem busca realçar sua autoestima. Com profissionais especializados e produtos de alta qualidade, o Espaço Mulher proporciona uma experiência única, onde cada cliente se sente única e bem cuidada. Perfeito para quem busca praticidade, qualidade e atenção nos mínimos detalhes!
            </p>
            <button class="btn">confira Ja</button>
        </div>
        <div class="header__image">
            <img src="{% static 'assets/img/Camisa palmeiras.png'%}" alt="header">
        </div>
    </header>

    <section class="section__container explore__container">
        <div class="explore__header">
            <h2 class="section__header">Conheça nossos serviços e produtos</h2>
        </div>
        <div class="explore__grid">
            <div class="explore__card">
                <span><i class="ri-scissors-line"></i></span>
                <h4>Cortes</h4>
                <p>
                    No Espaço Mulher, cada corte é feito com carinho e estilo, realçando sua beleza. Do clássico ao moderno, nossa equipe transforma seu visual com profissionalismo. Venha se renovar!
                </p>
                <a href="#"> Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <span><i class="ri-scissors-line"></i></span>
                <h4>Cortes</h4>
                <p>
                    No Espaço Mulher, cada corte é feito com carinho e estilo, realçando sua beleza. Do clássico ao moderno, nossa equipe transforma seu visual com profissionalismo. Venha se renovar!
                </p>
                <a href="#"> Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <span><i class="ri-scissors-line"></i></span>
                <h4>Cortes</h4>
                <p>
                    No Espaço Mulher, cada corte é feito com carinho e estilo, realçando sua beleza. Do clássico ao moderno, nossa equipe transforma seu visual com profissionalismo. Venha se renovar!
                </p>
                <a href="#"> Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
        </div>
    </section>

    <section class="section__container explore__container">
        <div class="explore__header">
            <h2 class="section__header">Explore nossos produtos</h2>
            <div class="explore__nav">

            </div>
        </div>
        
        <div class="explore__grid">
            <div class="explore__card">
                <img src="{% static 'assets/img/Kaiak-removebg-preview.png'%}" alt="">
                <h4>Natura</h4>
                <p>
                    Perfume Natura kaiak pulso 100ml
                </p>
                <P>
                    R$:49,99
                </P>
                <a href="#"> Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <img src="{% static 'assets/img/NATBRA-81951_1-removebg-preview.png'%}" alt="">
                <h4>Natura</h4>
                <p>
                    Perfume Natura Homem Sagaz 100 ml
                </p>
                <p>
                    R$:80,99
                </p>
                <a href="#"> Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <img src="{% static 'assets/img/NATBRA-81951_1-removebg-preview.png'%}" alt="">
                <h4>Natura</h4>
                <p>
                    Perfume Natura Homem Sagaz 100 ml
                </p>
                <p>
                    R$:80,99
                </p>
                <a href="#"> Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
    </section>
    {% include 'partials/_footer.html' %}

    
</body>
</html>