{% load static %}
<footer class="section__container footer__container">
    <span class="bg__blur"></span>
    <span class="bg__blur footer__blur"></span>
    <div class="footer__col">
        <div class="footer__logo"><img src="{% static 'assets/img/logo.png'%}" alt="Logo"></div>
        <p>
            No Espaço Mulher, cada corte, cada detalhe e cada transformação são feitos para realçar sua beleza e autoestima. Sinta-se confiante, radiante e poderosa todos os dias, porque você merece! 
        </p>
        <div class="footer__socials">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-whatsapp-fill"></i></a>
        </div>
    </div>
    <div class="footer__col">
        <h4>company</h4>
        <a href="#">Negócios</a>
        <a href="#">Franquia</a>
        <a href="#">Parcerias</a>
        <a href="#">Network</a>
    </div>
    <div class="footer__col">
        <h4>Sobre nos</h4>
        <a href="#">Blogs</a>
        <a href="#">segurança</a>
        <a href="#">carreers</a>
    </div>
    <div class="footer__col">
        <h4>Contato</h4>
        <a href="#">contate nos</a>
        <a href="#">Politica de privacidade</a>
        <a href="#">Termos & condiçôes</a>
    </div>
</footer>
<div class="footer__bar">
    Direitos autorais © 2025 Espaço Mulher. Todos os direitos reservados.
</div>