{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <title>Calendário</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{% static 'js/index.global.min.js' %}"></script>
    <script src="{% static 'js/core/locales-all.global.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </head>
  <body>
    {% include 'partials/_nav.html' %}
    <main class="main_calendario">
      <div id="calendar"></div>
      <div class="pdf-options">
        <h3>Gerar Relatório de Reservas</h3>
        <button onclick="baixarPDF('dia')">Baixar PDF do Dia</button>
        <button onclick="baixarPDF('semana')">Baixar PDF da Semana</button>
        <button onclick="baixarPDF('mes')">Baixar PDF do Mês</button>
      </div>
    </main>
  </body>
</html>
