{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Mulher</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
</head>
<body>
    {% include "partials/_nav.html" %}
    <main class="main__detalhes-reserva">
        <section class="detalhes__section">
            {% if reservas_produto %}
            <h2>Reserva do produto</h2>
            <div class="detalhes__info">
                <p>Produto: {{produtos.nome}}</p>
                <p>Valor total: {{produtos.preco}}</p>
                <p>Quantidade comprada: {{reservas_produto.quantidade_comprada}}</p>  
                <p>Data da busca: {{reservas_produto.data_reservada}}</p>  
                <p>Status da sua reserva: {{reservas_produto.disponivel}}</p>
                <a href="{% url 'editar-reservas-produto' reservas_produto.id %}"><button>Editar reserva</button></a>
                <a href="{% url 'deletar-reserva-produto' reservas_produto.id %}"><button>Deletar reserva</button></a>
            </div>

            {% endif %}

            {% if reservas_servico %}
            <h2>Reserva do serviço</h2>
            <div class="detalhes__info">
                <p>Serviço: {{servicos.nome}}</p>
                <p>Valor total: {{servicos.preco}}</p>
                <p>Tempo de duração: {{servicos.tempo_duracao}}</p>  
                <p>Data da busca: {{reservas_servico.data_reservada}}</p>  
                <p>Status da sua reserva: {{reservas_servico.disponivel}}</p>
                <a href="{% url 'editar-reservas-servico' reservas_servico.id %}"><button class="btn">Editar reserva</button></a>
                <a href="{% url 'deletar-reserva-servico' reservas_servico.id %}"><button class="btn">Deletar reserva</button></a>
            </div>

            {% endif %}
        </section>
    </main>
    {% include 'partials/_footer.html' %}
</body>
</html>