{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Mulher</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
</head>
<body>
    {% include "partials/_nav.html" %}
    <main class="main__reservas">
        <section class="reservas__section">
            <h2>Reserva de Produtos</h2>
            {% if produtos %}
            {% for reserva in produtos %}
                <a href="{% url 'reservas-produto' reserva.id %}">
                    <div class="div__reserva">
                        <p>Produto: {{ reserva.produto.nome}}</p>
                        <p>Quantidade reservada: {{ reserva.quantidade_comprada}}</p>
                        <p>status {{reserva.disponivel}}</p>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <h3>Você não tem reservas no momento</h3>
            {% endif %}
        </section>
        <section class="reservas__section">
            <h2>Reserva de Serviços</h2>
            {% if servicos %}
                {% for reserva in servicos %}
                <a href="{% url 'reservas-servico' reserva.id %}">
                    <div class="div__reserva">
                        <p>Serviço: {{ reserva.servico.nome}}</p>
                        <p>tempo de duração: {{ reserva.servico.tempo_duracao}}</p>
                        <p>status {{reserva.disponivel}}</p>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <h3>Você não tem reservas no momento</h3>
            {% endif %}
        </section>
    </main>