{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>produtos</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
  </head>
  <body>
    {% include 'partials/_nav.html' %}

    <section class="section__container explore__container">
      <div class="explore__header">
        <h2 class="section__header">Conheça nossos produtos</h2>
        <div class="explore__nav"></div>
      </div>
      <div class="explore__grid">
        {% if servicos %}
          {% for servico in servicos %}
            <div class="explore__card">
              {% if not servico.foto %}
                <img style="width: 350px; border-radius: 10px;" src="{% static 'assets/img/not-found.png' %}" alt="foto" />
              {% else %}
                <img style="width: 350px; height: 350px; border-radius: 10px;" src="{{ servico.foto.url }}" alt="{{ servico.nome }}" />
              {% endif %}
              <h4 style="margin-top: 10px;">{{ servico.nome }}</h4>
              {% if servico.descricao %}
              <p>{{ servico.descricao }}</p>
              {% else %}
              <p>Esse serviço não tem descrição</p>
              {% endif %}
              <P>{{ servico.preco }}</P>
              <a href="{% url 'info-servico' servico.id %}">Confira Ja <i class="ri-arrow-right-line"></i></a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>
    {% include 'partials/_footer.html' %}
  </body>
</html>
